* {
  font-family: Helvetica;
}

body {
  text-align: center;
}

a {
  color: white;
  font-weight: bold;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}

.header {
  background-image: url("./images/the-flatiron-building.png")
}

.nav {
  font-size: 18px;
}

#NY {
  color: white;
  background-image: url("./images/the-flatiron-building.png")
}
